<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="inputfiels">
    <h1 style="text-align: center; margin-bottom: 10%;">FORGOT PASSWORD</h1>
    <ion-list>
      <ion-item lines="none" style="--background: #eeeeee; border-radius: 2px; margin-bottom: 10px;">
        <ion-input placeholder="Username or email" type="text"></ion-input>
      </ion-item>
      <ion-button expand="block" size="medium">Get new Password</ion-button>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-label class="ion-padding" (click)="login()">
      <p style="text-align: center;">Already have an account? <strong style="color: #db4a39;">Login</strong></p>
    </ion-label>
  </ion-toolbar>
</ion-footer>
