.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
//   ion-segment-button {
//     --background-checked: var(--ion-color-primary);
//     --color-checked: var(--ion-color-primary-contrast);
//     --indicator-color: transparent;
//   }